# streamlit
# plotly
# pandas
# numpy
# scikit-learn
# scipy
# statsmodels
# langchain
# langchain-google-genai
# python-dotenv
# tqdm




# --- Core ---
streamlit
python-dotenv
tqdm

# --- Data & Analytics ---
pandas
numpy
scikit-learn
scipy
statsmodels
plotly

# --- LangChain + Google GenAI ---
langchain
langchain-core
langchain-google-genai
#google-generativeai==0.8.0